@import "_reset";

/*  BASE : mes variables */
@import "_variables";

// HEADER
@import "_header.scss";

// FOOTER
@import "_footer.scss";

/*  LAYOUT GENERAL */
.main-l {
  max-width: 1200px;
  margin: 0 auto;
}
.section-l {
  padding: 40px 40px;
}
.section__title {
  position: absolute;
  transform: rotate(-0.01turn);
  display: inline-block;
  padding: 5px 20px;
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: lighter;
  color: var(--text-white);
  background: var(--theme-color);
}
.section__content {
  position: relative;
  margin-top: 60px;
  padding: 60px 10px 40px;
}
hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
/*  LAYOUT  */

/*  SECTION BUTTONS  */
.section__btn {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px;
  padding: 40px 0;

  a.info__btn {
    cursor: pointer;
    padding: 10px 25px;
    background-color: var(--accent-color);
    color: var(--text-color-body);
    border: 0;
    border-radius: 5px;
    margin: 20px;
    text-decoration: none;
    transition: 300ms ease-in-out 0ms;
    &.disabled {
      color: #121a2b4e;
      &::after {
        content: "";
      }
      &:hover {
        background-color: var(--accent-color);
      }
    }

    &::after {
      font-size: 1rem;
      line-height: 1.5;
      content: ">";
      opacity: 0;
      position: absolute;
      margin-left: -1rem;
      transition: all 0.3s ease-in-out 0ms;
    }

    &:hover {
      background-color: var(--accent-color-lighter);
      &:hover::after {
        opacity: 1;
        will-change: margin-left;
        margin-left: 5px;
      }
    }
  }
}

/*  SECTION BUTTONS  */

/*  SECTION PRESENTRATION  */
#about p.presentation__text {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.8;

  span.text--underline {
    padding: 0.3rem 0.2rem;
    background-image: linear-gradient(120deg, #fff 0, var(--accent-color) 10%, var(--accent-color) 90%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.2s ease-in-out;
    a {
      text-decoration: none;
      color: var(--text-color-body);
    }
    &:hover {
      background-size: 100% 88%;
    }
  }
}
/*  SECTION PRESENTRATION  */

/* SECTION COMPETENCES*/
#skills .section__skills {
  display: flex;
  justify-content: space-around;
  .skill__block {
    padding: 30px;
    div.block__title {
      display: flex;
      justify-content: center;
      align-items: center;
      img.skill__icon {
        width: 50px;
      }
      h3.skill__title {
        padding: 0 20px;
      }
    }
    ul.skill__list {
      padding-left: 20px;
      margin: 30px 0;
      li.skill__list__item {
        padding: 5px 0;
        font-size: 1.1rem;
      }
    }
  }
}
#skills .section__content__icons {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-items: center;
  align-items: center;
  img.icons {
    width: 55px;
    margin: 10px;
  }
}
/* SECTION COMPETENCES*/

/*  SECTION REALISATION / PORTOFOLIO  */
#portofolio .section__project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 60px 40px;
  justify-items: center;
  align-items: center;
  z-index: 10;
  div.project {
    display: inline-block;
    border-radius: 12px;
    width: 100%;
    max-width: 340px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    background: black;
    z-index: 100;
    div.project__cover {
      width: 100%;
      height: 105px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      opacity: 0.9;
    }
    div.project__content {
      position: relative;
      padding: 20px;
      background: white;
      min-height: 160px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-sizing: border-box;
      padding-bottom: 40px;

      p.project__title {
        margin: 0;
        margin-bottom: 5px;
        color: var(--theme-color);
        font-weight: bold;
        font-size: 16px;
      }
      p.project__description {
        margin: 0;
        margin-bottom: 5px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
      }
      span.project__badge {
        position: absolute;
        background: #f39c12;
        border-radius: 5px;
        color: white;
        top: -10px;
        left: 20px;
        font-size: 13px;
        height: 20px;
        padding: 0px 20px;
        line-height: 20px;
      }
      div.project__footer {
        position: absolute;
        text-align: right;
        bottom: 10px;
        right: 10px;
        a {
          display: inline-block;
          background: #3498db;
          background: var(--theme-color);
          background: var(--accent-color);
          color: white;
          color: var(--text-color-body);
          font-size: 12px;
          border-radius: 5px;
          text-decoration: none;
          padding: 5px 10px;
          font-weight: bold;

          &:hover {
            transition: background-color 0.2s ease-in-out;
            background-color: var(--accent-color-lighter);
          }
        }
      }
    }
  }
}
/*  SECTION REALISATION  */

/*  SECTION PARCOURS  */
#path .section__path {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px;

  .step {
    position: relative;
    width: calc(50% - 18px);
    margin-bottom: 20px;
    padding: 0 10px;
    margin-top: 10px;
    .step__title {
      font-weight: bold;
    }
    .step__description {
    }
    &::before {
      content: "";
      height: calc(100% + 30px);
      width: 4px;
      background: var(--accent-color);
      position: absolute;
      top: -10px;
    }
    &::after {
      content: "";
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: var(--accent-color);
      position: absolute;
      top: 5px;
    }
  }
  .step--left {
    align-self: self-start;
    text-align: right;
    &::before {
      right: -20px;
    }
    &::after {
      right: -25px;
    }
  }
  .step--right {
    align-self: self-end;
    text-align: left;
    &::before {
      left: -20px;
    }
    &::after {
      left: -25px;
    }
  }
}
/*  SECTION PARCOURS  */

/*
/*  RESPONSIVE  
*/
/*  LAYOUT < 1200px  */
@media (max-width: 1200px) {
  #skills .skill__block {
    padding: 20px;
  }
  #path .section__path {
    padding-right: 30px;
    padding-left: 30px;
  }
}

//
/*  LAYOUT < 576px  */
@media (max-width: 576px) {
  .main-l {
    padding-top: 40px;
  }
  .section-l {
    padding: 20px 0;
  }
  .section__title {
    left: -2px;
  }
  .section__content {
    padding: 40px 5px;
  }

  .section__btn {
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    padding: 0;
    z-index: 20;
    margin: 0;
    width: 100vw;
    a.info__btn {
      padding: 10px 20px;
      margin: 0;
      border-radius: 0;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    }
  }

  #about p.presentation__text {
    width: calc(100% - 30px);
    font-size: 1.1rem;
  }
  #skills .section__skills {
    display: flex;
    flex-direction: column;

    .skill__block {
      padding: 10px;
      margin: 0 auto;
      max-width: 400px;

      .block__title {
        padding: 20px 0 10px;
        .skill__title {
          padding: 0 10px;
        }
      }
      ul.skill__list {
        margin: 15px 0;
        padding-left: 10px;
      }
    }
  }
  #skills .section__content__icons {
    padding: 40px 5px;
    img.icons {
      width: 40px;
    }
  }
  #portofolio .section__project {
    display: flex;
    flex-direction: column;
  }
  #path .section__path {
    .step {
      width: calc(100% - 20px);
      padding: 0 5px;
      .step::before {
        width: 3px;
      }
      &.step--right,
      &.step--left {
        align-self: start;
        text-align: left;
        margin-left: 25px;
      }
      &.step--left::before,
      &.step--right::before {
        left: -15px;
      }
      &.step--left::after,
      &.step--right::after {
        left: -21px;
      }
    }
  }
}
/*  FIN du RESPONSIVE  */
